<script type="text/javascript">
        // configure for module loader
        require.config({
            paths: {
                echarts: '/javascripts'
            }
        });

        // use
        require(
            [
                'echarts',
                'echarts/chart/line' // require the specific chart type
            ],
            function (ec) {
                // Initialize after dom ready
                var myChart = ec.init(document.getElementById('graph'), 'macarons');

option = {
    tooltip : {
        trigger: 'axis',
        formatter : function (params) {
          return '' + params.seriesName + ': ' + params.value[1] + 'km';
        }
    },
    legend: {
        data:[<%= raw @legend_data %>]
    },
    toolbox: {
        show : false
    },
    dataZoom: {
        show: true,
        start : 0,
        end : 100
    },
    calculable : true,
    xAxis : [
        {
            type : 'time',
            splitNumber: 10
        }
    ],
    yAxis : [
        {
            type : 'value',
            axisLabel : {
                formatter: '{value}km'
            }
        }
    ],
    series : <%= raw @series %>
};


                // Load data into the ECharts instance
                myChart.setOption(option);
            }
        );
    </script>

<main>
  <h2>PRESEASON DEPTH CHART</h2>

  <div id="graph" style="width: 70%; min-width: 320px; height: 80vh;"></div>
</main>
