<main>
  <table style="width: 40%;">
    <tr>
      <th style="text-align: left;">Name</th>
      <th style="text-align: left;">2016</th>
      <th style="text-align: left;">2015</th>
    </tr>
    <%- for user in @users %>
      <tr>
        <td><%= user.label %></td>
        <td><%= user.score %></td>
        <td><%= user.score(:c2015) %></td>
      </tr>
    <%- end %>
  </table>
</main>
