<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>RUN 2015</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,500,100,300' rel='stylesheet' type='text/css'>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://run2015.farski.com">
    <meta property="og:title" content="RUN 2015. Sign up now.">
    <meta property="og:description" content="Starting May 1st.">
    <meta property="og:image" content="http://run2015.farski.com/images/og-image-b.jpg">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/echarts.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Open graph image: https://www.flickr.com/photos/benmciver/11306896376 -->
  </head>
  <body>

    <%= yield %>

    <nav>
      <a href="/leaderboard">Leaderboard</a>
      <a href="/graph">Graph</a>
      <a href="/stats">Stats</a>
      <a href="/signup">Signup</a>
    </nav>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-27003567-5', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
